header {
    div.title {
        width: 100%;
        text-align: center;
        h1 {
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .navbar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        a {
            min-width: 50px;
            text-align: center;
        }
        a.active{
            font-weight: bold;
        }
        a:hover{
            font-weight: bold;
        }
    }
}